.indexbutton {
    float: right;
    margin: 10px;
}

#footer {
    position: fixed;
    border-top: 2px solid black;
    background-color: lightgrey;
    bottom: 0;
    width: 100%;
}

#header {
    position: absolute;  
    top: 0;
    width: 100%;
}

#indexp1 {
    line-height: 1.5;
}

#indexlist {
    line-height: 2.5;
}

#indexh1 {
    text-decoration: underline;
}