.indexbutton {
    float: right;
    margin: 8px;
}

#footer {
    position: fixed;
    border-top: 2px solid black;
    background-color: lightskyblue;
    bottom: 0;
    width: 100%;
    text-align: center;
}

html, body {
    margin: 0;
    padding: 0;
}
  
#header {
    position: fixed;  
    margin: 0px;
    top: 0;
    width: 100%;
    background-color: lightgreen;
    border-bottom: 2px solid black;
}

#indexp1 {
    line-height: 1.5;
    margin: 2px;
}

#indexh1 {
    text-decoration: underline;
    text-align: center;
    padding: 20px;
}